@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: 0;
}

html, body, #root {
    height: 100%;
}

body {
    background: #e5e6f0;
    -webkit-font-smoothing: antialiased;
}

body, input, button {
    font-family: Roboto, sans-serif;
}

h1 {
    text-align: center;
    color: #e64a19;
    margin-bottom: 5%;
}
  
form .input-block + .input-block {
    margin-top: 20px;
}
  
form .input-block label {
    color: #666;
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
  
form .input-block input {
    width: 100%;
    height: 36px;
    font-size: 16px;
    color: #666;
    border: 0;
    border-bottom: 1px solid #eee;
    padding-left: 10px;
}
  
form button[type=submit] {
    width: 100%;
    border: 0;
    margin-top: 30px;
    margin-bottom: 10%;
    background-color: #e64a19;
    border-radius: 2px;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: background 0.5s;
}
  
  
form button[type=submit]:hover {
    background: #ac0800;
}

